<div class="container">
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-3 lg:cols-span-1">
      <div class="w-[3rem] h-[3rem]">
        <img
          class="w-full h-full rounded-full"
          src="https://cdn.pixabay.com/photo/2023/06/23/11/23/ai-generated-8083323_1280.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-span-6 lg:col-span-9">
      <div class="space-y-2">
        <div>
          <p class="font-semibold text-lg">Codewithzosh</p>
          <p class="opacity-70">Aug 26, 2023</p>
        </div>
        <div>
        <app-star-rating></app-star-rating>
        </div>
        <div>
            nice product, i like what kurta
        </div>
      </div>
    </div>
  </div>
</div>
