<div  class="box">
  <div class="flex grid grid-cols-6">
    <div class="col-span-3">
      <div class="flex items-center w-full">
        <img
          class="w-[5rem] h-[5rem] object-cover object-top"
          src="https://th.bing.com/th?id=OPAC.BlmMmXZZa4%2F2Jw474C474&o=5&pid=21.1&c=17&bw=8&bc=FFFFFF&h=224&w=224&rs=1"
          alt=""
        />
        <div class="ml-5">
          <p class="font-semibold text-lg">Product Title</p>
          <p class="text-sm text-gray-400">Size : M</p>
          <p class="text-sm text-gray-400">Color : blue</p>
        </div>
      </div>
    </div>
    <div class="col-span-1">
      <p class="font-semibold text-lg">&#8377; 499</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold text-lg">Expected Delivery on Mar 03</p>
      <p class="text-sm">Your Item Has Delivered</p>
    </div>
  </div>
</div>
